/* ---------------------------- Form Styling -------------------------------- */
.labelcol {
    width: 6vw;
    font-weight: bold
}

input[type=text]:focus {
    outline: none;
    box-shadow: 0 0 0 2pt #32CD32;
}

input {
    height: 2vh;
    border-radius: 5px;
    font-size: 1.3em;
}

label, input {
    display: inline-block;
}

label {
    text-align: right;
    margin: 0 0.8vw;
    font-size: 1.3em;
}

input {
    outline-color: #32CD32;
}

select:active, select:hover {
    outline-color: #32CD32;
}

textarea {
    outline-color: #32CD32;
}

form {
    margin: 0 auto;
    text-align: center;
}

.formrow {
    margin: 1vh 0;
    color: #555;
    font-size: 14px;
}

#formsubmit {
    text-align: center;
    margin: 3vh 0;
}

#subbutton {
    text-align: center;
    background-color: #32CD32;
    color: #F6F6F6;
    text-decoration: none;
    transition-duration: 0.2s;
    border-radius: 8px;
    border-color: #32CD32;
    border-style: solid;
    text-decoration: none;
    text-transform: uppercase;
    width: 6vw;
    height: 4.2vh;
    outline: none;
    font-size: 0.6em;
}

#resetbutton {
    text-align: center;
    background-color: #32CD32;
    color: #F6F6F6;
    text-decoration: none;
    transition-duration: 0.2s;
    border-radius: 8px;
    border-color: #32CD32;
    border-style: solid;
    text-decoration: none;
    text-transform: uppercase;
    width: 6vw;
    height: 4.2vh;
    outline: none;
    font-size: 0.6em;
    margin-left: 1vw;
    margin-bottom: 4vh;
}

#subbutton:hover {
    background-color: #F6F6F6;
    color: #32CD32;
    cursor: pointer;
    transition-duration: 0.2s;
    border-style: solid;
    border-radius: 8px;
    outline: none;
    font-size: 0.65em;
}

#resetbutton:hover {
    background-color: #F6F6F6;
    color: #32CD32;
    cursor: pointer;
    transition-duration: 0.2s;
    border-style: solid;
    border-radius: 8px;
    outline: none;
    font-size: 0.65em;
}

legend {
    text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
    color: #555;
    font-size: 0.9em;
}