#summary-text{
    width: 50%;
    padding-left: 10vw;
    padding-right: 10vw;
    line-height: 5vh;
}

#submit {
    border-radius: 25px;
    height: 40px; 
    width: 25%;
    outline-width: 0;
    text-align: center;
}

.newinfo {
    margin: 1vh 0;
    color: #555;
    font-size: 14px;
}

#summary-text {
    border-top: #32CD32;
    border-bottom: #32CD32;
}

#summary-lines {
    padding-top: 1vh;
}

#welcome {
    margin-top: 0;
    padding-top: 1vh;
    padding-bottom: 2vh;
    border-bottom: 2px solid #32CD32;
}

textarea {
    max-width: 50%;
    min-width: 50%;
}
