/* ------------------------ Header and Logo Style ---------------------- */
header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo {
    width: 20%;
    height: 20%;
    margin: 5px 15px;
}

/* ------------------------------- Classes ----------------------------- */

.whitebackground {
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 35px;
    color: #333;
    background-color: #fff;
}

.whitebackground h1 {
    font-size: 28px;
    text-align: center;
    text-shadow: 2px 2px #ccc;
    margin-top: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid #C51E2C;
}

.whitebackground h2 {
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px #ccc;
    margin-top: 30x;
}

.whitebackground a:hover {
    color: #32CD32;
    text-decoration: underline;
    font-size: 18px;
}

.whitebackground a {
    text-decoration: none;
    color: #32CD32;
    font-size: 18px;
}

body {
    font-family: Roboto, sans-serif;
}

    /* -------------------------- Nav Style -------------------------- */
nav {
    float: left;
    margin-left: 20%;
    margin-top: -85px;
}

nav .navcurrent {
    color: #32CD32;
    padding-bottom: 30px;
    border-bottom: 5px solid #32CD32;
}

nav ul li {
    list-style-type: none;
    display: inline;
    font-size: 20px;
    margin: 0 24px;
}

nav a {
    color: #333;
    text-decoration: none;
    padding-bottom: 40px;
    padding-top: 65px;
}

nav a:hover {
    color: #32CD32;
    padding-bottom: 30px;
    padding-top: 65px;
    border-bottom: 5px solid #32CD32;
    transition-duration: 0.2s;
    cursor:pointer;
}
/* ---------------------- ID Style -------------------------- */
.wrapper {
    width: 75%;
    margin: 0 auto;
}

.wrapper2 {
    width: 50%;
    margin: 0 auto;
}

#summary-background {
    margin-top: -4px;
    width: 100%;
    font-size: 24px;
    line-height: 35px;
    color: #333;
    background-color: #f1f4f6;
}

#summary-text {
    font-size: 26px;
    color: #383838;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

#adoption {
    Color: #32CD32;
}

#summary-lines {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 2px solid #32CD32;
    border-bottom: 2px solid #32CD32;
}

#adoption-image {
    width: 100%;
    height: auto;
}
/* ---------------------- Grid Layout ----------------------- */
#firebaseui-auth-container {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.twocolumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.threecolumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fourcolumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sixcolumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 20px 0;
}

.sixcolumns a {
    text-decoration: none;
    color: #32CD32;
    font-size: 16px;
}

.twocolumns a, .twocolumns a:visited {
    text-decoration: none;
    color: #32CD32;
    font-weight: bold;
}

.twocolumns a:hover, .twocolumnsa:active {
    text-decoration: none;
    color: #777;
    font-weight: bold;
}

/* ---------------------------- Form Styling -------------------------- */
.labelcol {
    width: 90px;
    font-weight: bold
}

label, input {
    display: inline-block;
}

label {
    width: 10%;
    text-align: right;
    margin: 0 4% 0 4%;
}

form {
    margin: 20px 0 auto;
    text-align: center;
}

.formrow {
    margin: 10px 0;
    color: #757575;
    font-size: 14px;
}

#formsubmit {
    text-align: center;
    margin: 20px 0;
}

#subbutton {
    text-align: center;
    background-color: #32CD32;
    padding: 10px 28px;
    color: #F6F6F6;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 15px 5px;
    transition-duration: 0.2s;
    border-radius: 10px;
}

#resetbutton {
    text-align: center;
    background-color: #32CD32;
    padding: 10px 28px;
    color: #F6F6F6;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 15px 5px;
    transition-duration: 0.2s;
    border-radius: 10px;
}

#subbutton:hover {
    color: #F6F6F6;
    background-color: #32CD32;
    cursor:pointer;
}

#resetbutton:hover {
    color: #F6F6F6;
    background-color: #32CD32;
    cursor:pointer;
}

legend {
    text-shadow: 1px 1px #aaa;
    color: #757575;
    font-size: 18px;
}

/* ------------------------- Footer Style ----------------------------- */
footer {
    line-height: 22px;
    background-color: #444;
    box-shadow: 4px -15px 8px -15px rgba(0, 0, 0, 0.2), 10px -15px 40px -15px rgba(0, 0, 0, 0.19);
    border-top: 4px solid #32CD32;
}

footer a {
    color: #ccc;
    text-decoration: none;
}

footer a:hover {
    color: #32CD32;
}

#footer-p {
    color: #ccc;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #333;
}

.footerfourcolumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 75%;
    margin: 0 auto;
    padding: 25px 0;
}

.footercolumn {
    margin: 0 50px;
    color: #ccc;
}

.footertitle {
    color: #fff;
    font-size: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

footer ul {
    color: #ccc;
    font-size: 12px;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    padding-top: 15px;
}