/* -------------------------- Global Style ------------------------------- */
html { 
    font-size: 2vw; 
}

body {
    font-family: Roboto, sans-serif;
}

/* ------------------------ Header and Logo Style ---------------------- */
header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 15px solid #32CD32;
    margin-top: 0;
    padding-top: 0;
}

#logo {
    width: 20%;
    height: 20%;
    margin-top: 10px;
    margin-left: 15px;
}

/* ------------------------------- Classes ----------------------------- */

.whitebackground {
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 35px;
    color: #333;
    background-color: #fff;
}

.whitebackground h1 {
    font-size: 28px;
    text-align: center;
    text-shadow: 2px 2px #ccc;
    margin-top: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid #C51E2C;
}

.whitebackground h2 {
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px #ccc;
    margin-top: 30x;
}

.whitebackground a:hover {
    color: #32CD32;
    text-decoration: underline;
    font-size: 18px;
}

.whitebackground a {
    text-decoration: none;
    color: #32CD32;
    font-size: 18px;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

.wrapper2 {
    width: 50%;
    margin: 0 auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

    /* -------------------------- Nav Style -------------------------- */
#navbar {
    width: 75%;
    margin: 0 auto;
}

nav {
    float: left;
    margin-left: 20%;
    margin-top: -130px;
}

nav .navcurrent {
    color: #32CD32;
    padding-bottom: 30px;
    border-bottom: 5px solid #32CD32;
}

nav ul li {
    list-style-type: none;
    display: inline;
    font-size: 0.60em;
    margin: 0 24px;
}

nav a {
    color: #333;
    text-decoration: none;
    padding-bottom: 40px;
    padding-top: 65px;
}

nav a:hover {
    color: #32CD32;
    padding-bottom: 30px;
    padding-top: 65px;
    border-bottom: 5px solid #32CD32;
    transition-duration: 0.2s;
    cursor:pointer;
}
/* ---------------------- ID Style -------------------------- */


#summary-background {
    margin-top: -4px;
    width: 100%;
    font-size: 24px;
    line-height: 35px;
    color: #333;
    background-color: #f1f4f6;
}

#summary-text {
    font-size: 26px;
    color: #383838;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

#adoption {
    Color: #32CD32;
}

#summary-lines {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 2px solid #32CD32;
    border-bottom: 2px solid #32CD32;
}

#adoption-image {
    width: 100%;
    height: auto;
}

#login-charger-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    
}
/* ---------------------- Grid Layout ----------------------- */
#firebaseui-auth-container {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.twocolumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.threecolumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fourcolumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* ---------------------------- Button Styling -------------------------- */
#loginbutton {
    text-align: center;
    background-color: #32CD32;
    padding: 10px 30px;
    color: #F6F6F6;
    text-decoration: none;
    font-size: 0.8em;
    margin: 15px 5px;
    transition-duration: 0.2s;
    border-radius: 8px;
    border-color: #32CD32;
    border-style: solid;
}

#loginbutton:hover {
    background-color: #FFF;
    color: #32CD32;
    cursor: pointer;
    border-style: solid;
}

/* ------------------------- Footer Style ----------------------------- */
footer {
    line-height: 22px;
    background-color: #444;
    box-shadow: 4px -15px 8px -15px rgba(0, 0, 0, 0.2), 10px -15px 40px -15px rgba(0, 0, 0, 0.19);
    border-top: 4px solid #32CD32;
}

footer a {
    color: #ccc;
    text-decoration: none;
}

footer a:hover {
    color: #32CD32;
}

#footer-p {
    color: #ccc;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #333;
}

.footerfourcolumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 75%;
    margin: 0 auto;
    padding: 25px 0;
}

.footercolumn {
    margin: 0 50px;
    color: #ccc;
}

.footertitle {
    color: #fff;
    font-size: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

footer ul {
    color: #ccc;
    font-size: 12px;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    padding-top: 15px;
}