/* -------------------------- Global Style ------------------------------- */
html { 
    font-size: 2vw; 
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

main {
    margin-top: 16vh;
}

/* ------------------------ Header and Logo Style ---------------------- */
header {
    position: relative;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    border-top: 1.1vh solid #32CD32;
    margin-top: 0;
    padding-top: 0;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 2;
}

.headertext {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 3px 3px 2px #333;
    font-size: 2.6em;
}

.headerimage {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.headerimagecontainer {
    position: relative;
    text-align: center;
}

#logo {
    width: 20%;
    height: 20%;
    margin-top: 1%;
    margin-left: 15px;
}

#logo2 {
    width: 35%;
    height: 35%;
}

/* ------------------------------- Classes ----------------------------- */

.whitebackground {
    background-color: #fff;
    width: 100%;
}

.whitebackground h1 {
    font-size: 28px;
    text-align: center;
    text-shadow: 2px 2px #ccc;
    margin-top: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid #C51E2C;
}

.whitebackground h2 {
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px #ccc;
    margin-top: 30x;
}

.whitebackground a:hover {
    color: #32CD32;
    text-decoration: underline;
    font-size: 18px;
}

.whitebackground a {
    text-decoration: none;
    color: #32CD32;
    font-size: 18px;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

.wrapper2 {
    width: 50%;
    margin: 0 auto;
}

.wrapper3 {
    width: 65%;
    margin: 0 auto;
}

    /* -------------------------- Nav Style -------------------------- */
#navbar {
    width: 75%;
    margin: 0 auto;
}

nav {
    float: left;
    margin-left: 20%;
    margin-top: -8.5%;
}

nav .navcurrent {
    color: #32CD32;
    padding-bottom: 5.5%;
    border-bottom: 0.5vh solid #32CD32;
}

nav ul li {
    list-style-type: none;
    display: inline;
    font-size: 0.60em;
    margin: 0 1vw;
}

nav a {
    color: #333;
    text-decoration: none;
    padding-bottom: 5.5%;
}

nav a:hover {
    color: #32CD32;
    padding-bottom: 5.5%;
    border-bottom: 0.5vh solid #32CD32;
    transition-duration: 0.2s;
    cursor:pointer;
}
/* ---------------------- ID Style -------------------------- */


#summary-background {
    margin-top: 12vh;
    width: 100%;
    font-size: 24px;
    line-height: 35px;
    color: #333;
    background-color: #f1f4f6;
}

#summary-background-edit {
    margin-top: 12vh;
    width: 100%;
    font-size: 24px;
    line-height: 35px;
    color: #333;
    background-color: #f1f4f6;
    display: none;
}

#host-details {
    margin-top: 12vh;
    width: 100%;
    font-size: 24px;
    line-height: 35px;
    color: #333;
    background-color: #f1f4f6;
}

#host-details-edit {
    margin-top: 12vh;
    width: 100%;
    font-size: 24px;
    line-height: 35px;
    color: #333;
    background-color: #f1f4f6;
    display: none;
}

#summary-text {
    font-size: 1.1em;
    color: #383838;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    padding-top: 4vh;
    padding-bottom: 5vh;
}

#adoption {
    Color: #32CD32;
}

#summary-lines {
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-top: 2px solid #32CD32;
    border-bottom: 2px solid #32CD32;
}

#adoption-image {
    width: 100%;
    height: auto;
}

#login-charger-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/* ---------------------- Box Style -------------------------- */

.homebox {
    height: 32vh;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFF;
    margin-top: 5vh;
    margin-bottom: 5vh;
    transition-duration: 0.4s;
}

.homebox:hover {
    cursor: pointer;
    transform: translate(0%, -5%);
    transition-duration: 0.4s;
}

.homeicons {
    height: 11vh;
    width: 11vw;
}

.boxheading {
    font-size: 1em;
    color: #4D4D4D;
    text-align: center;
    margin: 0 auto;
    padding-top: 3vh;
    padding-bottom: 1vh;
    width: 15vw;
    height: 5vh;
}

.boximage {
    text-align: center;
    width: 85%;
    padding-bottom: 1vh;
    border-bottom: 2px solid #32CD32;
    margin: 0 auto;
}

.boxparagraph {
    font-size: 0.45em;
    color: #4D4D4D;
    text-align: center;
    width: 85%;
    margin: auto;
    padding-top: 2vh;
    line-height: 3vh;
    padding-bottom: 3vh;
}

/* ---------------------- Grid Layout ----------------------- */

.twocolumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.threecolumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fourcolumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* ---------------------------- Button Styling -------------------------- */
.buttonstyle {
    text-align: center;
    background-color: #32CD32;
    color: #F6F6F6;
    text-decoration: none;
    transition-duration: 0.2s;
    border-radius: 20px;
    border-color: #32CD32;
    border-style: solid;
    text-decoration: none;
    text-transform: uppercase;
    width: 6vw;
    height: 3em;
    outline: none;
    font-size: 0.4em;
}

.buttonstyle:hover {
    background-color: #F6F6F6;
    color: #32CD32;
    cursor: pointer;
    transition-duration: 0.2s;
    border-style: solid;
    border-radius: 20px;
    outline: none;
    font-size: 0.45em;
    height: 3em;
}

.loginbuttons {
    position: absolute;
    left: 75%;
    top: 33%;
    z-index: 3;
}

/* ------------------------- Footer Style ----------------------------- */
footer {
    line-height: 22px;
    background-color: #444;
    box-shadow: 4px -15px 8px -15px rgba(0, 0, 0, 0.2), 10px -15px 40px -15px rgba(0, 0, 0, 0.19);
    border-top: 4px solid #32CD32;
}

footer a {
    color: #ccc;
    text-decoration: none;
}

footer a:hover {
    color: #32CD32;
}

#footer-p {
    color: #ccc;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #333;
}

.footerfourcolumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 75%;
    margin: 0 auto;
    padding: 25px 0;
}

.footercolumn {
    margin: 0 50px;
    color: #ccc;
}

.footertitle {
    color: #fff;
    font-size: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

footer ul {
    color: #ccc;
    font-size: 12px;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    padding-top: 15px;
}

/* ------------------------- Firebase UI ----------------------------- */
#firebaseui-auth-container {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

#firebaseui-auth-container button {
    background-color: #32CD32 !important;
}

#firebaseui-auth-container * {
    box-shadow: none !important;
}

#profile {
    width: 100%;
}
