#map-interface {
    width: 100%;
    background-color: #f1f4f6;
    height: 80vh;
    display: grid;
    margin: 0 auto;
    padding: 0;
}

#map-transform {
    margin: 0 auto;
    width: 100%;
    position: relative;
}
#map {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
#map-widget {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1;
    overflow: scroll;
}
#map-widget-transform {
    position: absolute;
    width: 30%;
    height: 100%;
}
#search-bar-transform {
    position: relative;
    text-align: center;
    top: 10%;
}
.search-bar {
    position: relative;
    width: 70%;
    height: 4vh;
    font-size: 0.6em;
    border-radius: 9px;
    border: 2px solid #32CD32;
    background-color: #e0ffff;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    margin-bottom: 2vh;
}
#search-text-transform {
    position: relative;
    text-align: center;
    top: 15%;
    overflow: hidden;
}
.search-text {
    display: block;
    position: relative;
    font-size: 16pt;
    margin-left: 10%;
    margin-right: 10%;
}
#origin-input,
#destination-input {

} 
#origin-input:focus,
#destination-input:focus {
    border-color: #4d90fe;
}
#destination-text {
    font-size: 10pt;
    position: absolute;
    left: 13.5%;
    bottom: 6.5vh;
    color: #515151;
}
#origin-text {
    font-size: 10pt;
    position: absolute;
    left: 13.5%;
    bottom: 14vh;
    color: #515151;
}
.close-button {
    width: 5%;
    position: absolute;
    right: 2%;
    top: 5%;
    cursor: pointer;
}
#hide-button {
    width: 6%;
    position: absolute;
    right: 3%;
    top: 3%;
    cursor: pointer;
}
#show-button {
    width: 4%;
    position: absolute;
    left: 0%;
    top: 5%;
    z-index: 1;
    cursor: pointer;
}